.wrapper {
    overflow: hidden;
    top: 0vh;
    color: white;
    height: 100vh;
    width: 100vw; 
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.homepageLabels {
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.backgroundImage {
    background-image: url("../public/GymBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    overflow: hidden;
    color: white;
    height: 100vh;
    width: 100%;
}

.backgroundImage2 {
    background-image: url("../public/duo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    overflow: hidden;
    color: white;
    height: 110vh;
    width: 100%; 
}



.main {  
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.labelPowerHour {
    animation: fadeInPower 2s ease-in-out;
    font-family:  monospace;
    text-transform: bold;
    font-size: min(300px, 12vw);

    font-weight: 10px;
}

@keyframes fadeInPower {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.subLabel {
    opacity:0;
    min-block-size: 100px;
    font-family:  monospace;
    text-transform: bold;
    font-size: min(200px, 6vw);
    font-weight: 10px;
    animation: fadeInSub 2s ease-in-out 1s forwards;

}

@keyframes fadeInSub {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loginText {
    font-size: min(2rem, 100px);
    font-family: "Space Mono", monospace;
    position: absolute;
    bottom: 10vh;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.loginText:hover {
    transform: scale(1.1);
}

.arrowDivDown {
    position: absolute;
    bottom: 5vh;
    font-size: 30px;
    justify-content: center;
    align-items: bottom;
    display: flex;
    height: 60px;
    width: 100%;
    animation: moveArrow 2.5s infinite;
    animation-timing-function: ease-in-out;
}

.arrowDivDown:hover {
    cursor: pointer;
    transform: scale(1.1);
}


@keyframes moveArrow {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}


.loginPage {
    margin-top: 5vh;
    height: 100vh;
    width: 90vw;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}

.arrowDivUp {
    position: absolute;
    top: 109vh;
    justify-content: center;
    align-items: bottom;
    display: flex;
    height: 10vh;
    width: 100%;
    animation: moveArrow 2.5s infinite;
    animation-timing-function: ease-in-out;        
}

.arrowDivUp:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.homeText {
    top: 113vh;
    font-size: min(50px, 4vw);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: absolute;
    transition: transform 0.2s ease-in-out;
}

.homeText:hover {
    transform: scale(1.1);
}







