.wrapper {
    overflow: hidden;
    top: 30vh;
    color: white;
    height: 90vh;
    width: 100vw; 
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.homepageLabels {
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.backgroundImage {
    background-image: url("../public/GymBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    opacity: 0.2;
    overflow: hidden;
    color: white;
    height: 100vh;
    width: 100vw; 

    animation-name: backgroundImageScale; 
    animation-duration: 20s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes backgroundImageScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.main {  
    height: 200vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.labelPowerHour {
    
    font-family:  monospace;
    text-transform: bold;
    font-size: min(300px, 12vw);

    font-weight: 10px;
}

.subLabel {
    min-block-size: 100px;
    font-family:  monospace;
    text-transform: bold;
    font-size: min(200px, 6vw);
    font-weight: 10px;
}

.loginText {
    font-size: min(100px, 3vw);
    position: absolute;
    bottom: 15vh;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.loginText:hover {
    transform: scale(1.1);
}

.arrowDivDown {
    position: absolute;
    bottom: 12vh;
    justify-content: center;
    align-items: bottom;
    display: flex;
    height: 30px;
    width: 70px;
    animation: moveArrow 2.5s infinite;
    animation-timing-function: ease-in-out;
}

.arrowDivDown:hover {
    cursor: pointer;
    transform: scale(1.1);
}


@keyframes moveArrow {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}


.loginPage {
    margin-top: 5vh;
    height: 110vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}

.arrowDivUp {
    position: absolute;
    top: 105vh;
    justify-content: center;
    align-items: bottom;
    display: flex;
    height: 30px;
    width: 70px;
    animation: moveArrow 2.5s infinite;
    animation-timing-function: ease-in-out;        
}

.arrowDivUp:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.homeText {
    top: 110vh;
    font-size: min(100px, 3vw);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: absolute;
    transition: transform 0.2s ease-in-out;
}

.homeText:hover {
    transform: scale(1.1);
}







