@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.loginBlock {
    font-family: 'Noto Sans', sans-serif;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;

    box-shadow: 0px 0px 5px 1px rgb(61, 53, 53);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    
    top: 125vh;
    height: 50vh;
    width: 20vw;
    bottom: 5vh;
    max-width: 300px;
    max-height: 500px;
    min-width: 300px;
    min-height: 500px;
}

.loginBlock::before {
    content: "";
    background-image: radial-gradient(
    farthest-corner at 40px 40px,
    rgb(70, 40, 45) 0%,
    #43e 100%
    );    
    width: 200%;
    height: 200%;
    
    position: absolute;
    animation: rotate 2s linear infinite;
}

.loginBlock::after {
    content: " ";
    position: absolute;
    background: radial-gradient(rgb(32, 1, 32) 0px, black 200px);
    animation: pulse 10s linear infinite;
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0);
    overflow: hidden;
    width: 94%;
    height: 96%;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBlock > * {
    z-index: 1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loginLabel {
    font-size: 40px;
    position: absolute;
    top: 20px;
}

.buttonDiv {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loginButton {
    position: absolute;
    height: 50px;
    width: 50%;
    margin-top: 50px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.5s, color 0.5s, transform 0.5s, box-shadow 0.5s;

}

.loginButton:hover {
    background-color: rgb(108, 92, 255);
    color: white;
    box-shadow: 0px 0px 20px 2px rgb(108, 92, 255, 0.3);
    transform: scale(1.1);
}

.loginButton:focus {
    outline: none;
}


.loadingDiv {
    visibility: hidden;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: spin 1s infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
    pointer-events: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*This section is for the username block containing the input box and the username label*/
.usernameBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 15px;
}

.usernameBlock label{
    position: absolute;
    transition: 0.5s ease all;
}

.usernameBlock input:focus + label,
.usernameBlock input:valid + label {
    content: "";
    color: rgb(108, 92, 255);
    background: transparent;
    transform: translateX(-10px) translateY(-25px);
    font-size: 1em;
    padding: 0 10px;
}

.usernameLabel {
    pointer-events: none;
    left: 20%;
    position: absolute;
    font-size: 20px;
    color: gray;
    margin-right: 10px;
}

.usernameInput {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px; 
    height: 50px;
    width: 70%;
    background-color: transparent;
    border-bottom: 2px solid white;
    font-size: 20px;
    transition: border-color 0.5s;
    transition: border-radius 0.3s;
}

.usernameInput:focus {
    border-color: rgb(108, 92, 255);
    border-bottom-width: 3px;
    border-radius: 5px;
    outline: none;
}


/*This section is for the password block containing the input box and the password label*/

.passwordBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.passwordBlock label{
    position: absolute;
    transition: 0.5s ease all;
}

.passwordBlock input:focus + label,
.passwordBlock input:valid + label {
    color: rgb(108, 92, 255);
    background: transparent;
    transform: translateX(-10px) translateY(-25px);
    font-size: 1em;
    padding: 0 10px;
}

.passwordLabel {
    pointer-events: none;
    left: 20%;
    position: absolute;
    font-size: 20px;
    color: gray;
    margin-right: 10px;
}

.passwordInput {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px; 
    height: 50px;
    width: 70%;
    background-color: transparent;
    border-bottom: 2px solid white;
    font-size: 20px;
    transition: border-color 0.5s;
    transition: border-radius 0.3s;
}

.passwordInput:focus {
    border-color: rgb(108, 92, 255);
    border-bottom-width: 3px;
    border-radius: 5px;
    outline: none;
}

.userIcon {
    font-size: 30px;
    padding-right: 10px;
}



.passwordIcon {
    font-size: 30px;
    padding-right: 10px;
}

