@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.loginBlock {
    font-family: 'Noto Sans', sans-serif;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 5px 1px rgb(61, 53, 53);
    justify-content: space-around;

    flex-direction: column;
    align-items: center;
    display: flex;
    
    top: 135vh;
    bottom: 5vh;
    max-width: 300px;
    max-height: 500px;
    min-width: 300px;
    min-height: 500px;
}

.loginBlock::before {
    content: "";
    background-image: radial-gradient(
        closest-side at 50% 50%,
        rgb(70, 70, 70) 0%,
        rgba(252, 203, 6, 0.7) 100%
        );  
    width: 200%;
    height: 200%;
    
    position: absolute;
    animation: rotate 3s linear infinite;
}

.loginBlock::after {
    content: " ";
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    animation: pulse 10s linear infinite;
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0);
    overflow: hidden;
    width: 94%;
    height: 96%;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBlock > * {
    z-index: 1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loginLabel {
    font-size: 60px;
    overflow: hidden;
}

.buttonDiv {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loginButton {
    position: absolute;
    height: 50px;
    width: 80%;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, transform 0.5s, box-shadow 0.5s;
}

.loginButton:hover {
    background-color: rgba(252, 203, 6, 0.6);
    color: white;
    box-shadow: 2px 2px 5px 0px rgba(252, 203, 6, 0.3);
    transform: scale(1.1);
}

.loginButton:focus {
    outline: none;
}

.registerButton {
    position: absolute;
    height: 50px;
    width: 80%;
    background-color: transparent;
    border: 2px solid rgba(252, 203, 6, 0.8);
    border-radius: 2px;
    color: rgba(252, 203, 6, 0.8);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, transform 0.5s, box-shadow 0.5s;
    align-items: center;
    display: flex;
    justify-content: center;
}

.registerButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 5px 0px rgba(252, 203, 6, 0.3);
    transform: scale(1.1);
}

.registerButton:focus {
    outline: none;
}


/* .loadingDiv {
    visibility: hidden;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: spin 1s infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
    pointer-events: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

/*This section is for the username block containing the input box and the username label*/
.usernameBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.usernameBlock label{
    position: absolute;
    transition: 0.5s ease all;
}

.usernameBlock input:focus + label,
.usernameBlock input:valid + label {
    content: "";
    color: rgba(252, 203, 6, 0.6);
    background: transparent;
    transform: translateX(-10px) translateY(-25px);
    font-size: 1em;
    padding: 0 10px;
}

.usernameLabel {
    pointer-events: none;
    left: 20%;
    position: absolute;
    font-size: 20px;
    color: gray;
    margin-right: 10px;
    background-color: black; 
    z-index: 7;   
}

.usernameInput {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px; 
    height: 50px;
    width: 70%;
    background-color: black;    
    border-bottom: 2px solid white;
    font-size: 20px;
    transition: border-color 0.5s;
    transition: border-radius 0.3s;
}

.usernameInput:focus {
    border-color: rgba(252, 203, 6, 1);
    border-bottom-width: 3px;
    border-radius: 5px;
    outline: none;
}


/*This section is for the password block containing the input box and the password label*/

.passwordBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.passwordBlock label{
    background-color: black; 
    position: absolute;
    transition: 0.5s ease all;
}

.passwordBlock input:focus + label,
.passwordBlock input:valid + label {
    color: rgba(252, 203, 6, 1);
    background: transparent;
    transform: translateX(-10px) translateY(-25px);
    font-size: 1em;
    padding: 0 10px;
}

.passwordLabel {
    pointer-events: none;
    left: 20%;
    position: absolute;
    font-size: 20px;
    color: gray;
    margin-right: 10px;
}

.passwordInput {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px; 
    height: 50px;
    width: 70%;
    background-color: transparent;
    border-bottom: 2px solid white;
    font-size: 20px;
    transition: border-color 0.5s;
    transition: border-radius 0.3s;
}

.passwordInput:focus {
    border-color: rgba(252, 203, 6, 1);
    border-bottom-width: 3px;
    border-radius: 5px;
    outline: none;
}

.userIcon {
    font-size: 30px;
    padding-right: 10px;
}



.passwordIcon {
    font-size: 30px;
    padding-right: 10px;
}

