.button {
    border: 2px white solid;
    border-radius: 3px;
    color: white;
    position: relative;
    padding: 10px;
    margin: 10px;
    width: min(300px, 50vw);
    height: 150px;
}

.button:hover {
    
    background-color: rgb(108, 92, 255);
    cursor: pointer;
}

.buttonContainer {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: relative;
}

