.outer {
    height: calc(100% - min(100px, 10vh));
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.inner {
    position: absolute;
    height: calc(100% - min(100px, 10vh));
    width: 100%;
    top: min(100px, 10vh);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mainLabel {
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    font-variant: uppercase;
}

.block {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5vw;
}


.backgroundImage {
    background-image: url("../public/backgroundStandard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    pointer-events: none;
    opacity: 0.3;
    position:fixed;
    height: 100%;
    width: 100%;
}

.Body {
    font-family: "Space Mono", monospace;
}

.navigationPanel {
    top:70px;
    left: 10px;

    height: 30px;
    width: calc(100% - 20px);
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 2;
}

.navArrow {
    margin-left: 5px;
    margin-right: 5px;
}

.navPanelLinks:hover{ 
    text-decoration: underline;
    color: rgba(252, 203, 26, 1);
}

.navPanelLinkCurrent {
    color: rgba(252, 203, 26, 1);
    pointer-events: none;
    text-decoration: none;
    font-weight: bold;
}

.draggablesContainer {
    background-color: blue;
    height: 1000px;
    width: 1000px;
  }
