.outer {
    height: calc(100% - min(100px, 10vh));
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.inner {
    --globalGold: rgba(64, 64, 192, 1);
    position: absolute;
    height: calc(100% - min(130px, 10vh));
    width: 100%;
    top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.innerScrollable {
    --globalGold: rgba(64, 64, 192, 1);
    position: relative;
    height:110%;
    width: 100%;
    top: 100px;
    padding-bottom: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    height: calc(100% -10px);
}

.innerLogin {
    --globalGold: rgba(64, 64, 192, 1);
    position: absolute;
    height: calc(100% - 130px);
    width: 100%;
    top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media(max-width: 300px) {
    .inner {
        transform: scale(0.8);
        top: 1vh;
        margin-left: 10px;
    }
}

.innerRow {
    --globalGold: rgb(252, 203, 26);
    height: calc(100% - min(100px, 10vh));
    width: 100%;
    top: 130px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}


.mainLabel {
    display: flex;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-variant: uppercase;
}

@media(max-width: 600px) {
    .innerRow {
        flex-direction: column;
    }
    .mainLabel {
        font-size: 10px;
    }
    .navPanelLinks {
        font-size: 0.8em;
    }
    .navPanelLinkCurrent {
        font-size: 0.8em;
    }
}

@media(max-width: 300px) {
    .innerRow {
        flex-direction: column;
    }
    .mainLabel {
        font-size: 2em;
        margin-top: 30px;
    }
    .navPanelLinks {
        font-size: 0.5em;
    }
    .navPanelLinkCurrent {
        font-size: 0.5em;
    }
}

.block {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5vw;
}


.backgroundImage {
    background-image: url("../public/backgroundStandard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    pointer-events: none;
    opacity: 0.3;
    position:fixed;
    height: 100%;
    width: 100%;
}

.navigationPanel {
    top:70px;
    left: 10px;
    height: 30px;
    width: 90%;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 2;
    overflow-x: auto;
}

.navArrow {
    margin-left: 5px;
    margin-right: 5px;
}

.navPanelLinks:hover{ 
    text-decoration: underline;
    color: rgba(252, 203, 26, 1);
}



.navPanelLinkCurrent {
    color: rgba(252, 203, 26, 1);
    pointer-events: none;
    text-decoration: none;
    font-weight: bold;
}

.draggablesContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: calc(100% - 500px);
    width: 100%;
}

  
  .gridLayout {
    height: 100%;
    width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;  
}

.gridElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.flexingColumnContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBlock {
    display: flex;

    position: relative;
    margin-bottom: 3px;
    margin-top: 3px;
}

.inputBlock label{
    position: absolute;
    transition: 0.5s ease all;
}

.inputBlock input:focus + label,
.inputBlock input:valid + label {
    content: "";
    color: rgba(252, 203, 26, 1);
    background: transparent;
    transform: translateX(-10px) translateY(-25px);
    font-size: 15px;
    padding: 0 10px;
}

.inputLabel {
    left: 0%;
    position: absolute;
    font-size: 15px;
    color: gray;
    margin-right: 10px;
    background-color: black; 
    z-index: 7;   
    font-weight: bold;
}

.input {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px; 
    margin-bottom: 20px;
    height: 25px;
    width: 65%;
    background-color: transparent;    
    border-bottom: 2px solid white;
    font-size: 15px;
    transition: border-color 0.5s;
    transition: border-radius 0.3s;
}

.input:focus {
    border-color: rgba(64, 64, 192, 1);
    border-bottom-width: 3px;
    border-radius: 5px;
    outline: none;
}
