.button {
    border: 2px white solid;
    border-radius: 3px;
    color: white;
    position: relative;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    
    background-color: rgb(108, 92, 255);
    cursor: pointer;
}

.buttonContainer {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilePicture {
    background-size: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .plusIcon {
    color: white;
    font-size: 24px;
    margin-bottom: 8px;
  }

  .plusIcon {
    color: white;
    font-size: 24px;
    margin-bottom: 8px;
  }

.choiceBlock {
    outline: 2px solid rgba(80, 80, 250, 1);
    border: 2px solid rgb(0, 0, 0);

    border-radius: 10px;
    background-color: rgb(10, 10, 10);
    height: 160px;
    width: 80%;
    max-width: 400px;
    min-height: 160px;
    align-items: center;
    display: grid;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;

    box-shadow: 4px 4px 10px 10px rgb(0, 0, 0);
}

@media(max-width: 425px) {
    .choiceBlock {
        min-height: 250px;
    }
}



@media(max-width: 400px) {
    .choiceBlock {
        width: 270px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
        margin-bottom:5px;
    }
}

.choiceBlock > h1:first-child {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.span {
    text-wrap: wrap;
    text-align: center;
}

.choiceBlock > Link {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: red;
}

