.stopwatchContainer {
  text-align: center;
  background-color: #131212;
  position: fixed;
  bottom: 1%;
  height: 100px;
  width: 90%;
  border-radius: 10px; 
  box-shadow: 0 20px 50px 50px rgb(0, 0, 0, 0.5);
  border: 2px solid rgba(64, 64, 192, 1);
}

.stopwatchDisplay {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.buttonStart {
  display: inline-block;
  padding: 5px 30px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #175536;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
.buttonStart:hover {
  background-color: #3b9267;
}

.buttonReset {
  display: inline-block;
  padding: 5px 30px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #742424;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
.buttonReset:hover {
  background-color: #b14747;
}

.buttonStop {
  display: inline-block;
  padding: 5px 30px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #742424;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
.buttonStop:hover {
  background-color: #b14747;
}

@media(max-width: 400px) {
  .buttonReset {
    padding: 5px 5px;
  }
  .buttonStart {
    padding: 5px 5px;

  }
}