.stopwatchContainer {
  text-align: center;
  background-color: #0a0a0a;
  position: fixed;
  bottom: 1%;
  height: 100px;
  width: min(400px, 90%);
  border-radius: 5px; 
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 20px 50px 50px rgba(0, 0, 0, 0.5);
  outline: 2px solid rgba(64, 64, 192, 1);
  margin-top: 20px;
}

.stopwatchDisplay {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.buttonStart {
  display: inline-block;
  padding: 5px;
  width: 100px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #13613a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  justify-content: center;
  align-items: center;

}
.buttonStart:hover {
  background-color: #3b9267;
}

.buttonReset {
  display: inline-block;
  padding: 5px;
  width: 100px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #742424;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
.buttonReset:hover {
  background-color: #b14747;
}

.buttonStop {
  display: inline-block;
  padding: 5px;
  width: 100px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #742424;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
.buttonStop:hover {
  background-color: #b14747;
}

@media(max-width: 400px) {
  .buttonReset {
    padding: 5px 5px;
  }
  .buttonStart {
    padding: 5px 5px;

  }
}