.container {
  padding: 20px;
  width: 350px;
  background-color: rgb(27, 27, 27);
  border: 2px rgba(64, 64, 192, 1) solid;
  border-radius: 5px;
}

.containerWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.containerV2 {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 7px;
}

@media (max-width: 350px) {
  .containerV2 {
    width: 270px;
  }
}



@media (max-width: 1200px) {
  .containerWrapper {
    flex-wrap: wrap;
  }
}

.containerV2:last-child {
  margin-right: 0;
}

.h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: rgba(80, 80, 250, 1);
  font-weight: bold;
}

.exercisesContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 400px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  outline: 2px solid rgba(80, 80, 250, 0.4);
  background-color: rgb(10, 10, 10);
}

.entireExercise {
  border-top: 10px solid rgba(33, 33, 143, 0.4);
  padding: 5px;

}

.exercise {
  flex-shrink: 0;
  margin-right: 20px;
  width: 300px;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 16px;
  border: 2px solid rgba(0, 0, 0, 0.4);
}

.h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.p {
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;

}

.img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.inputBlack {
  background-color: black;
}

.button {
  background-color: rgba(80, 80, 250, 1);
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(80, 80, 250, 1);
}

.buttonContainer {
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }